	<div class="container">
		<div class="movie_well well col-sm-12">


			<div class="comment_well well pull-right col-sm-8" >
				<h4><%= link_to "write a review for this #{movie.title.capitalize}", new_movie_review_path(movie) %></h4>
			 		<% movie.reviews.each do |review| %>
			 			<h6> <%=link_to "Posted By #{review.user.firstname.capitalize}", profile_user_path(review.user)  %></h6>
			 			<h6><%= review.text %></h6>
			 			<h6><%= review.user.firstname.capitalize%> gave this <%= review.rating_out_of_ten %> out of 10 </h6><hr>	
			 		<% end %>
			</div>

			<h2><%= link_to movie.title, movie_path(movie) %></h2>
		  <%= image_tag movie.movieposter_url(:thumb).to_s %>
		  <h3><%= movie.release_date %></h3>
		  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
		  <h6 class=""><%= movie.description %></h6>
			
			<div>
				<h3>Average review out of <%= movie.review_average %> / 10</h3>
			</div>

		</div>
	</div>



